/*Police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

/* Réinitialisation des styles de base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto */
}

/* Styles généraux du corps */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0b0b0b; /* Couleur de fond */
    color: #ffd700; /* Couleur du texte */
}

/* Styles des liens */
.link {
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: #0b0b0b;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
}

/* Style du badge de notification */
span {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: black;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
}

/* Liste des produits */
.products_list {
    margin: 100px auto; /* Marge autour de la liste des produits */
    position: relative;
    width: 70%; /* Largeur de la liste des produits */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr)); /* Répartition des colonnes */
    grid-gap: 25px; /* Espace entre les éléments */
}

/* Style des produits individuels */
.product {
    background-color: #1c1c1c; /* Couleur de fond des produits */
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Ombre portée */
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s; /* Transition lors du survol */
}

.product:hover {
    transform: scale(1.1); /* Effet d'agrandissement au survol */
}

/* Style de l'image du produit */
.image_product {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_product img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    padding: 20px;
}

/* Contenu du produit */
.content {
    margin-top: 0px;
    margin-bottom: 30px;
    height: fit-content;
    text-align: center;
}

/* Prix du produit */
.price {
    margin: 15px 0;
    font-weight: 400;
    color: #ffd700; /* Couleur du texte du prix */
}

/* Bouton "Ajouter au panier" */
.id_product {
    text-align: center;
    text-decoration: 0;
    background-color: #000000; /* Couleur de fond du bouton */
    letter-spacing: 1px;
    color: goldenrod;
    padding: 10px  10%;
    border-radius: 6px;
}

/* Styles spécifiques au panier */
.panier {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Hauteur minimale de la page */
}

.panier img {
    width: 40px;
    padding: 8px 0;
}

.panier section {
    width: 70%; /* Largeur de la section du panier */
    background-color: #1c1c1c; /* Couleur de fond */
    padding: 10px; /* Espacement intérieur */
    border-radius: 6px; /* Coins arrondis */
}

/* Tableau des produits dans le panier */
table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}

/* En-têtes de tableau */
th {
    padding: 10px 0;
    font-weight: 400;
}

/* Cellules de tableau */
td {
    border-top: 0.5px solid #999; /* Bordure supérieure */
    text-align: center;
    color: #ffd700; /* Couleur du texte */
}

/* Lignes du tableau */
tr {
    border-bottom: 0.5px solid #999; /* Bordure inférieure */
}

/* Total du panier */
.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #ffd700; /* Couleur du texte */
    padding: 10px;
}
